body{
    margin: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

h1{
   margin-top: 49px;
   color: #66BFBF;
   font-family: 'Caveat', cursive;
   font-size: 5.625rem;

}

h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #11999E;
}

p{
    color: #3F3F44;
    
    
    
}

.mid-container img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;    
}

a {
    color: #11999E;
}



.top-container{
    background-color:#f4f6ff;
    position: relative;
    padding-top: 100px;
}
.top-container h2{
    font-weight: normal;
    line-height: 2;
}

.profile img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 50px;
    border-style: none;
}

.bottom-container{
    background-color: #FFC4D0;
    height: 200px;
    width: 200px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.bottom-cloud{
   position: absolute;
   left: 300px;
   bottom: 300px;
}

.skill-row{
    width: 50%; 
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row img{
    width: 25%;
    height: 25%;
}
.cooking-img{
    float: left;
    margin-right: 30px;
}

.home-img{
    float: right;
    margin-left: 30px;  

}
